[Unit]
Description = "Reverse Proxy for the Web Services"

[Service]
ExecStart = "$exec"
Restart = "Always"
WorkingDirectory = "$working_dir"
User = "root"

[Install]
WantedBy = "multi-user.target"
