# Minecraft Vanilla .gitignore

## Executable/Library

*.jar

## Server Data

bluemap/
plugins/CommandHelper/.cache
.console_history
plugins/floodgate/key.pem
plugins/Graves/data
plugins/PlayerNPC/persistent
plugins/ChestSort/playerdata

## Installation Related

version_history.json
versions/
libraries/
cache/

## Not to Configurate

bukkit.yml
commands.yml
help.yml
permissions.yml
config/paper-world-defaults.yml
plugins/CommandHelper/prefs/
plugins/Geyser-Spigot/locales
plugins/floodgate/config.yml
plugins/LuckPerms/
plugins/CoreProtect/

## Configuration should be overwritted

server.properties
spigot.yml
config/paper-global.yml
plugins/Geyser-Spigot/config.yml
!baseconfig/**/*

## Pre-fetched plugins

!plugins/Graves-4.9.jar
!plugins/PlayerNPC 2022.8.jar
!plugins/ChestSort-13.4.0.jar
!plugins/LuckPerms-Bukkit-5.4.40.jar

## Development Stage Data
plugins/MethodScript
