# Minecraft Vanilla .gitignore

## Executable/Library

*.jar

## Server Data

bluemap/
plugins/CommandHelper/.cache
.console_history
plugins/floodgate/key.pem
plugins/Graves/data
plugins/PlayerNPC/persistent
plugins/ChestSort/playerdata
plugins/Waypoints/waypoints.db

## Installation Related

version_history.json
versions/
libraries/
cache/

## Not to Configurate

bukkit.yml
commands.yml
help.yml
permissions.yml
config/paper-world-defaults.yml
plugins/CommandHelper/prefs/
plugins/Geyser-Spigot/locales
plugins/floodgate/config.yml
plugins/LuckPerms/
plugins/CoreProtect/
plugins/DiscordSRV/alerts.yml
plugins/DiscordSRV/synchronization.yml
plugins/DiscordSRV/voice.yml
plugins/DiscordSRV/linkedaccounts.json
plugins/Waypoints/lang/de.yml
plugins/Waypoints/lang/en.yml

## Configuration should be overwritted

server.properties
spigot.yml
config/paper-global.yml
plugins/Geyser-Spigot/config.yml
plugins/DiscordSRV/config.yml
!baseconfig/**/*

## Pre-fetched plugins

!plugins/Graves-4.9.jar
!plugins/PlayerNPC 2022.8.jar
!plugins/ChestSort-13.4.0.jar
!plugins/LuckPerms-Bukkit-5.4.40.jar
!plugins/RHLeafDecay-1.19_R3.jar

## Development Stage Data

plugins/MethodScript
