[Unit]
Description=Minecraft Vanilla Server

[Service]
ExecStart=$exec
Restart=always
WorkingDirectory=$working_dir
KillSignal=SIGINT

[Install]
WantedBy=default.target
