[Unit]
Description=Minecraft Vanilla Server

[Service]
ExecStart=$exec
WorkingDirectory=$working_dir
KillSignal=SIGINT

[Install]
WantedBy=default.target
